[Unit]
Description=kiln-controller

[Service]
ExecStart=/home/red/kiln-controller_plus/venv_kiln/bin/python /home/red/kiln-controller_plus/kiln-controller.py

[Install]
WantedBy=multi-user.target
